/* ------------------------------------------------------------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    background-color: white;
    color: #444;
    font-family: 'Quicksand','Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}

.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

section {
    padding: 80px 0;
    background-position: center;
    background-attachment: fixed;
}

section:nth-of-type(odd) {
    background-image: url(./img/pixel--weave__transparent.png); 
}

section:nth-of-type(even) {
    background-image: url(./img/pixel--weave__solid.png); 
}

/* ------------------------------------------------------------------------------------------------------------- */
/* HEADINGS */
/* ------------------------------------------------------------------------------------------------------------- */

h1, h2, h3 {
    font-weight: 400;
    text-transform: uppercase;    
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 300%;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px #333;
}

section h2 {
    font-size: 180%;
    font-weight: 500;
    word-spacing: 6px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

header h2 {
    font-size: 240%;
    color: #333;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 30px;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* PARAGPRAPHS */
/* ------------------------------------------------------------------------------------------------------------- */

.long-read {
    line-height: 150%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
    text-align: center;
    color: #444;
}

.long-read:last-child {
    margin-bottom: 0;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* LINKS */
/* ------------------------------------------------------------------------------------------------------------- */

a:link,
a:visited {
    color: #333;
    text-decoration: none;
    margin-left: 6px;
    margin-right: 8px;
    font-size: 180%;
    transition: color 0.2s;
}

a:hover,
a:active {
    color: #fff;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* NAVBAR */
/* ------------------------------------------------------------------------------------------------------------- */

nav {
    display: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a i {
    margin-right: 8px;;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 6px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #fff;
}

.sticky {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(135deg, #159957cc, #155799cc), url(./img/pixel--weave__solid.png);
    box-shadow: 0 1px 4px #333;
    z-index: 9999;
}

.sticky .main-nav {
    margin-top: 18px;
}

/* Mobile navi */

.mobile-nav-icon {
    float: right;
    margin-top: 5px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: white;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* HEADER SETUP */
/* ------------------------------------------------------------------------------------------------------------- */

header {
    background-image: linear-gradient(135deg, #159957aa, #155799bb), url(./img/pixel--weave__solid.png); 
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
}

.header-box {
    display: flex;
    justify-content: center;
    width: 1140px;
}

.header-box .col-lg-7 {
    text-align: center;
}

.header-box .col-lg-7 a {
    margin-left: 0;
    margin-right: 0;
}

.header-box .col-lg-7 a {
    margin-left: 0;
    margin-right: 0;
}

.header-box .col-lg-7 a:nth-of-type(2), .header-box .col-lg-7 a:nth-of-type(4) {
    margin-left: 10px;
    margin-right: 10px;
}

.header-box h2 {
    font-size: 160%;
    font-weight: 400;
    overflow: hidden;
    display: inline-block;
    border-right: .06em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
    animation: 
        typing 3s steps(20, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 450px }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.header-info a {
    font-size: 140%;
}

/* HEADER RHOMBUS MENU */

.header-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.header-menu .header-menu-list {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
    border: 15px solid #fff;
    background-color: #fff;
    box-shadow: 2px 2px 10px -1px #333;
}
  
.header-menu .header-menu-list .header-menu-list-item {
    list-style: none;
    position: absolute;
    width: 48%;
    height: 48%;
    background: #333;
    box-shadow: 2px 2px 10px -1px #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}
  
.header-menu .header-menu-list .header-menu-list-item:hover {
    background-image: linear-gradient(45deg, #159957cc, #155799cc), url(./img/pixel--weave__solid.png);
}

.header-menu .header-menu-list .header-menu-list-item:nth-child(1) {
    top: 0;
    left: 0;
}

.header-menu .header-menu-list .header-menu-list-item:nth-child(1):hover,
.header-menu .header-menu-list .header-menu-list-item:nth-child(1):active {
    transform: translate(-5px, -5px);
}
  
.header-menu .header-menu-list .header-menu-list-item:nth-child(2) {
    top: 0;
    right: 0;
}

.header-menu .header-menu-list .header-menu-list-item:nth-child(2):hover,
.header-menu .header-menu-list .header-menu-list-item:nth-child(2):active {
    transform: translate(5px, -5px);
}
  
.header-menu .header-menu-list .header-menu-list-item:nth-child(3) {
    bottom: 0;
    right: 0;
}

.header-menu .header-menu-list .header-menu-list-item:nth-child(3):hover,
.header-menu .header-menu-list .header-menu-list-item:nth-child(3):active {
    transform: translate(5px, 5px);
}

.header-menu .header-menu-list .header-menu-list-item:nth-child(4) {
    bottom: 0;
    left: 0;
}

.header-menu .header-menu-list .header-menu-list-item:nth-child(4):hover,
.header-menu .header-menu-list .header-menu-list-item:nth-child(4):active {
    transform: translate(-5px, 5px);
}

.header-menu .header-menu-list .header-menu-list-item a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: #fff;
}

.header-menu .header-menu-list .header-menu-list-item a:hover,
.header-menu .header-menu-list .header-menu-list-item a:active {
    color: #333;
    box-shadow: 2px 2px 10px -1px #333;
}

.header-menu-list-item-body {
    display: flex;
    text-align: center;
    transform: rotate(-45deg);
}

.header-menu-list-item-body span {
    text-transform: uppercase;
    font-size: 65%;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ABOUT ME */
/* ------------------------------------------------------------------------------------------------------------- */

.section-about h2::after {
    display: block;
    height: 2px;
    background-color: #159957;
    content: "";
    width: 280px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 60px;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* SKILLS */
/* ------------------------------------------------------------------------------------------------------------- */

.section-skills h2::after {
    display: block;
    height: 2px;
    background-color: #159957;
    content: "";
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 60px;
}

.section-skills .long-read {
    margin-bottom: 60px;
}

.section-skills ul {
    text-align: center;
    list-style-type: none
}

.section-skills h3 {
    font-weight: 400;
    border-bottom: 2px solid #155799;
    padding-bottom: 5px;
}

.section-skills ul li {
    margin: 5px 0;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* PROJECTS */
/* ------------------------------------------------------------------------------------------------------------- */

.section-projects h2::after {
    display: block;
    height: 2px;
    background-color: #159957;
    content: "";
    width: 260px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 60px;
}

.section-projects .long-read {
    margin-bottom: 60px;
}

.project-container {
    width: 100%;
    margin: 0;
    height: auto;
    background-color: #333;
}

.project-content {
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
}

.section-projects .container-fluid, .section-projects .project-container, .section-projects .row {
    padding: 0;
    margin: 0;
}

.section-projects .row {
    max-width: fit-content;
}

.project-container:hover .project-content img,
.project-container:focus .project-content img,
.project-container:hover .project-content span,
.project-container:focus .project-content span,
.project-container:hover .project-content h4,
.project-container:focus .project-content h4 {
    opacity: 0.0;
}

.project-container:hover .project-content, .project-container:focus .project-content {
    transform: scale(0.9);
}

.project-content h4,
.project-content span {
    position: absolute;
    text-align: center;
    color: #fff;
    transform: translate(-50%,-50%);
    transition: all .5s;
    width: 90%;
}

.project-content h4 {
    font-size: 140%;
    top: 25%;
    left: 50%;
}

.project-content span {
    top: 50%;
    left: 50%;
    line-height: 1.2;
}

.project-content img {
    width: 100%;
    height: auto;
    opacity: 0.9;
    transition: all .5s;
}

.pr--saper {
    background-image: url(../img/pr--saper.png);
}

.pr--snake {
    background-image: url(../img/pr--snake.png);
}

.pr--notes {
    background-image: url(../img/pr--notes.png);
}

.pr--portfolio {
    background-image: url(../img/pr--portfolio.png);
}

.pr--wbmm {
    background-image: url(../img/pr--wbmm.png);
}

.pr--ftfw {
    background-image: url(../img/pr--ftfw.png);
}

.pr--mbtournament {
    background-image: url(../img/pr--mbtournament.png);
}

.pr--ux {
    background-image: url(../img/pr--ux.png);
}

.pr--gamebets {
    background-image: url(../img/pr--gamebets.png);
}

/* ------------------------------------------------------------------------------------------------------------- */
/* BUTTONS */
/* ------------------------------------------------------------------------------------------------------------- */

.btn:link,
.btn:visited {
    font-size: 100%;
    display: inline-block;
    padding: 5px 20px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-code:link,
.btn-code:visited  {
    position: absolute;
    bottom: 10%;
    left: 10%;
    background-color: #159957;
    border: 1px solid #159957;
    margin-right: 15px;
}

.btn-demo:link,
.btn-demo:visited {
    position: absolute;
    bottom: 10%;
    right: 10%;
    background-color: #155799;
    border: 1px solid #155799;
}

.btn-private:link,
.btn-private:visited  {
    background-color: #c0392b;
    border: 1px solid #c0392b;
    pointer-events: none;
    cursor: default;
}

.btn-code:active,
.btn-code:hover  {
    background-color: #127a46;
    border: 1px solid #127a46;
}

.btn-demo:active,
.btn-demo:hover {
    background-color: #13487e;
    border: 1px solid #13487e;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* CONTACT */
/* ------------------------------------------------------------------------------------------------------------- */

.section-contact h2::after {
    display: block;
    height: 2px;
    background-color: #159957;
    content: "";
    width: 260px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 60px;
}

.contact-box-left {
    text-align: right;
    padding-right: 3%;
}

.section-contact img {
    border-radius: 50%;
    background-image: linear-gradient(90deg, #159957cc, #155799cc), url(./img/pixel--weave__solid.png);
    border: 1px solid #333;
    box-shadow: 2px 2px 10px -1px #333;
    width: 50%;
}

.contact-box-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
    font-weight: 400;
}

.contact-item {
    margin-bottom: 15px; 
}

.contact-item p {
    margin: 0;
}

.contact-item p i  {
    margin-right: 10px;
}

.contact-box-right .contact-item:last-child {
    margin-bottom: 0; 
}

.contact-box-right a:link,
.contact-box-right a:visited {
    color: #155799;
    text-decoration: none;
    margin-left: 6px;
    margin-right: 8px;
    font-size: 100%;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.contact-box-right a:hover,
.contact-box-right a:active {
    color: #333;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* FOOTER */
/* ------------------------------------------------------------------------------------------------------------- */

footer {
    background-color: #333;
    color: #777;
    text-align: center;
}

footer p {
    margin: 1rem;
    display: inline-block;
}

footer a:link,
footer a:visited {
    color: #777;
    margin: 0 4px;
    font-size: 100%;
}

.link__linkedin:hover,
.link__linkedin:active {
    color: #007bb5;
}

.link__github:hover,
.link__github:active {
    color: #fff;
}

.link__gitlab:hover,
.link__gitlab:active {
    color: #d35400;
}

.link__bitbucket:hover,
.link__bitbucket:active {
    color: #2684FF;
}