/* ------------------------------------------------------------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    background-color: white;
    color: #444;
    font-family: 'Chakra Petch','Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}

.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

section {
    padding: 80px 0;
    background-position: center;
    background-attachment: fixed;
}

section:nth-of-type(odd) {
    background-image: url(./img/pixel--weave__transparent.png); 
}

section:nth-of-type(even) {
    background-image: url(./img/pixel--weave__solid.png); 
}

.section-about-bar, .section-skills-bar, .section-projects-bar, .section-contact-bar {
    display: block;
    height: 3px;
    background-color: #159957;
    content: "";
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 80px;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* HEADINGS */
/* ------------------------------------------------------------------------------------------------------------- */

h1, h2, h3 {
    font-weight: 400;
    text-transform: uppercase;    
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 300%;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px #333;
}

section h2 {
    font-size: 200%;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 6px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.3);
}

header h2 {
    font-size: 240%;
    color: #333;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 30px;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* LINKS */
/* ------------------------------------------------------------------------------------------------------------- */

a:link,
a:visited {
    color: #333;
    text-decoration: none;
    margin-left: 6px;
    margin-right: 8px;
    font-size: 180%;
    transition: color 0.2s;
}

a:hover,
a:active {
    color: #fff;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* NAVBAR */
/* ------------------------------------------------------------------------------------------------------------- */

nav {
    display: none;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a i {
    margin-right: 8px;
    position: relative;
    font-size: 140%;
    top: 5px;
    left: 3px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 6px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 300;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #eee;
    border-bottom: 2px solid #eee;
}

.sticky {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(135deg, #159957cc, #155799cc), url(./img/pixel--weave__solid.png);
    box-shadow: 0 1px 4px #333;
    z-index: 9999;
}

.sticky .main-nav {
    margin-top: 18px;
}

/* Mobile navi */

.mobile-nav-label {
    display: flex; 
    align-items: center;
    font-size: 120%;
    color: #fff;
}

.mobile-nav-icon {
    float: right;
    margin-top: 5px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: white;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* HEADER SETUP */
/* ------------------------------------------------------------------------------------------------------------- */

header {
    background-image: url(./img/pixel--weave__solid.png); 
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
}

header>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, #159957bb,#0E9995bb, #155799bb); 
    background-size: 400% 400%;
    -webkit-animation: gradient 16s ease-in-out infinite;
            animation: gradient 16s ease-in-out infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header-box {
    display: flex;
    justify-content: center;
    width: 1140px;
}

.header-box .col-lg-7 {
    text-align: center;
}

.header-box .col-lg-7 a {
    margin-left: 0;
    margin-right: 0;
}

.header-box .col-lg-7 a {
    margin-left: 0;
    margin-right: 0;
}

.header-box .col-lg-7 a:nth-of-type(2), .header-box .col-lg-7 a:nth-of-type(4) {
    margin-left: 10px;
    margin-right: 10px;
}

.header-box h2 {
    font-size: 160%;
    font-weight: 400;
    overflow: hidden;
    display: inline-block;
    border-right: .06em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
    -webkit-animation: 
        typing 3s steps(20, end),
        blink-caret .75s step-end infinite;
            animation: 
        typing 3s steps(20, end),
        blink-caret .75s step-end infinite;
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width: 450px }
}

@keyframes typing {
    from { width: 0 }
    to { width: 450px }
}
  
@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.header-info a {
    font-size: 140%;
}

/* HEADER RHOMBUS MENU */

.header-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.header-menu .header-menu-list {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
    border: 15px solid #fff;
    background-color: #fff;
    box-shadow: 2px 2px 10px -1px #333;
}
  
.header-menu .header-menu-list .header-menu-list-item {
    list-style: none;
    position: absolute;
    width: 48%;
    height: 48%;
    background: #333;
    box-shadow: 2px 2px 10px -1px #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}
  
.header-menu .header-menu-list .header-menu-list-item:hover {
    background-color: white;
}

.header-menu .header-menu-list .header-menu-list-item:nth-child(1) {
    top: 0;
    left: 0;
}

.header-menu .header-menu-list .header-menu-list-item:nth-child(1):hover,
.header-menu .header-menu-list .header-menu-list-item:nth-child(1):active {
    transform: translate(-5px, -5px);
}
  
.header-menu .header-menu-list .header-menu-list-item:nth-child(2) {
    top: 0;
    right: 0;
}

.header-menu .header-menu-list .header-menu-list-item:nth-child(2):hover,
.header-menu .header-menu-list .header-menu-list-item:nth-child(2):active {
    transform: translate(5px, -5px);
}
  
.header-menu .header-menu-list .header-menu-list-item:nth-child(3) {
    bottom: 0;
    right: 0;
}

.header-menu .header-menu-list .header-menu-list-item:nth-child(3):hover,
.header-menu .header-menu-list .header-menu-list-item:nth-child(3):active {
    transform: translate(5px, 5px);
}

.header-menu .header-menu-list .header-menu-list-item:nth-child(4) {
    bottom: 0;
    left: 0;
}

.header-menu .header-menu-list .header-menu-list-item:nth-child(4):hover,
.header-menu .header-menu-list .header-menu-list-item:nth-child(4):active {
    transform: translate(-5px, 5px);
}

.header-menu .header-menu-list .header-menu-list-item a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: #fff;
}

.header-menu .header-menu-list .header-menu-list-item a:hover,
.header-menu .header-menu-list .header-menu-list-item a:active {
    color: #333;
    box-shadow: 2px 2px 10px -1px #333;
}

.header-menu-list-item-body {
    display: flex;
    text-align: center;
    transform: rotate(-45deg);
}

.header-menu-list-item-body span {
    text-transform: uppercase;
    font-size: 65%;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ABOUT ME */
/* ------------------------------------------------------------------------------------------------------------- */

.section-about-bar {    
    width: 400px;
}

.section-about .row {
    margin-top: 60px;
}

.section-about:last-child {
    margin-bottom: 0;
}

.section-about .row p {
    line-height: 175%;
}

.col-square {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.square-point {
    display: flex;
    border: 3px solid #159957;
    height: 150px;
    width: 150px;
    transform: rotate(45deg);
    justify-content: center;
    align-items: center;
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.3);
}

.section-about .square-point i {
    display: flex;
    font-size: 400%;
    transform: rotate(-45deg);
    color: #333;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* SKILLS */
/* ------------------------------------------------------------------------------------------------------------- */

.section-skills-bar {
    width: 300px;
}

.section-skills .progress {
    background-color: rgba(0,0,0,0.1);;
    height: 30px;
    border-radius: 0;
    margin-bottom: 20px;
    transition: all 0.2s;
}

.section-skills .progress:hover {
    background-color: rgba(0,0,0,0.2);
}

.section-skills .progress .progress-bar-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #159957;
    width: 20%;
}

.section-skills .progress .progress-bar-label span {
    font-size: 120%;
}

.section-skills .progress .progress-bar {
    background-color: #159957bb;
    transition: all 1s;
}

#square-point-body {
    transform: rotate(-45deg);
}

#skill-image {
    transition: all 0.2s;
}

.section-skills .col-square-skills .square-point {
    width: 200px;
    height: 200px;
}

.col-square-skills .square-point i {
    background-image: url('../img/logos/logo-library.svg');
    display: block;
    text-indent: -9999px;
    width: 85px;
    height: 85px;
    background-size: 85px 85px;
    transition: all 0.2s;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* PROJECTS */
/* ------------------------------------------------------------------------------------------------------------- */

.section-projects-bar  {
    width: 400px;
}

.card {
    border-radius: 0;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    background-color: #333;
}

.card-img-top {
    border-radius: 0;
    position: relative;
}

.card-body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-body .card-title {
    font-weight: 400;
    margin-bottom: 0.1rem;
}

.card-body .card-title i {
    margin-right: 8px;
    position: relative;
    top: 5px;
    left: 3px;
}

.card-body .card-subtitle {
    font-weight: 300;
    color: #159957;
    margin-bottom: 0.5rem;
}

.card-body .card-text {
    font-weight: 300;
    font-size: 90%;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* BUTTONS */
/* ------------------------------------------------------------------------------------------------------------- */

.btn:link,
.btn:visited {
    font-size: 100%;
    display: inline-block;
    padding: 5px 20px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    border-radius: 0;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin-left: 0;
    border: 2px solid transparent;
}

.btn-demo:link,
.btn-demo:visited  {
    border: 2px solid #159957;
    margin-right: 15px;
}

.btn-code:link,
.btn-code:visited {
    border: 2px solid #155799;
}

.btn-demo:active,
.btn-demo:hover  {
    background-color: #159957;
}

.btn-code:active,
.btn-code:hover {
    background-color: #155799;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* CONTACT */
/* ------------------------------------------------------------------------------------------------------------- */

.section-contact-bar {
    width: 350px;
}

.contact-box-left {
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
}

.section-contact img {
    width: 75%;
    height: auto;
}

.contact-box-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
    font-weight: 400;
}

.contact-item {
    margin-bottom: 15px; 
}

.contact-item p {
    margin: 0;
}

.contact-item p i  {
    margin-right: 16px;
    position: relative;
    top: 5px;
    left: 3px;
    font-size: 120%;
}

.contact-box-right .contact-item:last-child {
    margin-bottom: 0; 
}

.contact-box-right a:link,
.contact-box-right a:visited {
    color: #155799;
    text-decoration: none;
    margin-left: 6px;
    margin-right: 8px;
    font-size: 100%;
    transition: color 0.2s;
}

.contact-box-right a:hover,
.contact-box-right a:active {
    color: #333;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* FOOTER */
/* ------------------------------------------------------------------------------------------------------------- */

footer {
    background-color: #333;
    color: #777;
    text-align: center;
}

footer p {
    margin: 1rem;
    display: inline-block;
}

footer a:link,
footer a:visited {
    color: #777;
    margin: 0 4px;
    font-size: 100%;
}

.link__linkedin:hover,
.link__linkedin:active {
    color: #007bb5;
}

.link__github:hover,
.link__github:active {
    color: #fff;
}

.link__gitlab:hover,
.link__gitlab:active {
    color: #d35400;
}

.link__bitbucket:hover,
.link__bitbucket:active {
    color: #2684FF;
}

footer a i {
    position: relative;
    top: 3px;
    left: 3px;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ANIMATIONS */
/* ------------------------------------------------------------------------------------------------------------- */

.js--wp-0a,
.js--wp-1a,
.js--wp-2a,
.js--wp-3a,
.js--wp-4a,
.js--wp-5,
.js--wp-5a .progress-bar-label span,
.js--wp-5b,
.js--wp-6a,
.js--wp-7a,
.js--wp-7b,
.js--wp-7c,
.js--wp-7a.js--wp-8a, .js--wp-7b.js--wp-8d, .js--wp-7c.js--wp-8g,
.js--wp-9a,
.js--wp-11 {
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.js--wp-7a.js--wp-8b, .js--wp-7b.js--wp-8e {
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
}

.js--wp-7a.js--wp-8c, .js--wp-7b.js--wp-8f {
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
}

.js--wp-0b,
.js--wp-1b,
.js--wp-2b,
.js--wp-3b,
.js--wp-4b,
.js--wp-6b,
.js--wp-9b,
.js--wp-10 {
    opacity: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}

.card-img-top.animate__animated, .card-body.animate__animated {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}

.js--wp-0a.animate__animated, .js--wp-0b.animate__animated,
.js--wp-1a.animate__animated, .js--wp-1b.animate__animated,
.js--wp-2a.animate__animated, .js--wp-2b.animate__animated,
.js--wp-3a.animate__animated, .js--wp-3b.animate__animated,
.js--wp-4a.animate__animated, .js--wp-4b.animate__animated,
.js--wp-5.animate__animated,
.js--wp-5a .progress-bar-label span.animate__animated,
.js--wp-5b.animate__animated,
.js--wp-6a.animate__animated, .js--wp-6b.animate__animated,
.js--wp-7a.animate__animated, .js--wp-7b.animate__animated, .js--wp-7c.animate__animated,
.js--wp-9a.animate__animated, .js--wp-9b.animate__animated,
.js--wp-10.animate__animated, .js--wp-11.animate__animated {
    opacity: 1;
}